*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-image: url(images/af.jpg);
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
	opacity: .9;

	
	}

	.menu-bar {
		background: #33041f;
		text-align: center;
		opacity: .9;

	}

	.menu-bar ul {
		display: inline-flex;
		list-style: none;
		color: white;
	}

	.menu-bar ul li {
		width: 120px;
		margin: 10px;
		padding: 15px;
	}

	.menu-bar ul li a {
		text-decoration: none;
		color: white;

	}

	.active, .menu-bar ul li:hover {
		background: orange;
		border-radius: solid;

	}

	.menu-bar .fa
	{
		margin-right: 8px;
	}

	.sub-menu-1
	{
		display: none;
	}

	.menu-bar ul li:hover .sub-menu-1
	{
		display: block;
		position: absolute;
		background: #33041f;
		margin-top: 15px;
		margin-left: -15px;

	}

	.menu-bar ul li:hover .sub-menu-1 ul
	{
		display: block;
		margin: 10px;
	}

	.menu-bar ul li:hover .sub-menu-1 ul li
	{
		width: 150px;
		padding: 10px;
		background: transparent;
		border-radius: 0;
		text-align: left;
	}

    .menu-bar ul li:hover .sub-menu-1 ul li:last-child
    {
    	border-bottom: none;
    }

    .menu-bar ul li:hover .sub-menu-1 ul li a:hover
    {
    	color: orange;
    }

    h1
    {
    	text-align: center;
    	color: #33041f;
    	font-family: arial black;
    }

    h3
    {
    	text-align: center;
    	color: orange;
    	font-family: sans-serif;
    }

    p
    {
    	color: brown;
    }

    h5
    {
    	text-align: center;
    	color: black;
    	font-family: bahnschrift;
    }

    .billy
    {
    	color: orange;
    	font-family: bitsumishi;
    }

   

    .fa-angle-right
    {
    	float: right;
    }

    .sub-menu-2
    {
    	display: none;
    }

    .hover-me:hover .sub-menu-2
    {
    	position: absolute;
    	display: block;
    	margin-top: -40px;
    	margin-left: 140px;
    	background-color: #33041f;
    	opacity: .9; 

    }

    .footer
    {
    	background-color: #33041f;
    	color:white;
    	height: 60px;
    	padding: 0px;
    	margin-bottom: 20px;
    	margin-top: 20px;
    	padding-top: 15px;
    	text-align: center;
    }


